@using NordaShop.WebApp.Models.Order
@using Common.Helper
@using Microsoft.Extensions.Configuration
@inject IConfiguration _config
@model DetailViewModel
@{
    ViewData["Title"] = "Get by code";
    ViewData["IsHome"] = false;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

@await Component.InvokeAsync("Breadcrumb", new { pagename = "Kiểm tra đơn hàng" })

<div class="cart-main-area pt-115 pb-120">
    <div class="container">
        <div class="row">
            <h3 class="cart-page-title" style="text-align:center;">Thông tin đơn đặt hàng</h3><br />
            <div class="col-lg-8 col-md-8 col-sm-8 col-8">
                <p><strong>Mã đơn hàng: </strong> @Model.OrderCode</p>
                <p><strong>Trạng thái đơn hàng: </strong> @Model.OrderStatus.GetDisplayName()</p>
                <p><strong>Trạng thái thanh toán: </strong> @(Model.IsPaid ? "Đã thanh toán" : "Chưa thanh toán")</p>
                <p><strong>Tên khách hàng: </strong> @Model.CustomerName</p>
                <p><strong>Số điện thoại: </strong> @Model.CustomerPhoneNumber</p>
                <p><strong>Địa chỉ: </strong> @Model.CustomerAddress</p>
                <p><strong>Ghi chú địa chỉ: </strong> @Model.CustomerAddressOption</p>
                <p><strong>Thời gian đặt hàng: </strong> @Model.DateCreated.ToString("HH:mm dd/MM/yyyy")</p>
                <p><strong>Ghi chú đơn hàng: </strong> @Model.OrderNote</p>
                <p><strong>Thành tiền: </strong> @(string.Format(format, "{0:c0}", Model.OrderDetails.Sum(x => x.Price * x.Quantity)))</p>
                <p><strong>Giảm giá: </strong> @(string.Format(format, "{0:c0}", Model.DiscountPrice))</p>
                <p><strong>Phí vận chuyển: </strong> @(string.Format(format, "{0:c0}", Model.ShippingFee))</p>
                <h3><strong style="color:red;">Tổng cộng: </strong> @(string.Format(format, "{0:c0}", Model.TotalPrice))</h3>
                <br />
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-4">
                <img id="qrcode" src="@Model.QRCodeLink" style="max-height:150px;max-width:150px;" alt="QR Code" />
                <a class="btn btn-outline-primary" asp-action="Download" asp-route-id="@Model.Id">
                    <i class="fa fa-download" aria-hidden="true"></i> Tải xuống đơn hàng
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                @if (Model != null && Model.OrderDetails.Count > 0)
                {
                    <form action="#">
                        <div class="table-content table-responsive cart-table-content">
                            <table>
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Ảnh</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Giá</th>
                                        <th>Size</th>
                                        <th>Số lượng</th>
                                        <th>Tổng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.OrderDetails.Count; i++)
                                    {
                                        var item = Model.OrderDetails[i];
                                        string url = $"/products/{item.ProductId}/{item.ProductName}";
                                        <tr>
                                            <td>@(i + 1)</td>
                                            <td class="product-thumbnail">
                                                <a href="@url"><img src="@(_config["BaseUri"] + item.ProductDefaultLink)" alt="@item.ProductName" style="max-height:120px;"></a>
                                            </td>
                                            <td class="product-name"><a href="@url">@item.ProductName</a></td>
                                            <td class="product-price-cart"><span class="amount">@(string.Format(format, "{0:c0}", item.Price))</span></td>
                                            <td class="product-price-cart"><span class="amount">@item.SizeName</span></td>
                                            <td class="product-quantity pro-details-quality">@item.Quantity</td>
                                            <td class="product-subtotal">@(string.Format(format, "{0:c0}", item.Price * item.Quantity))</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </form>
                }
                else
                {
                    <p style="text-align:center;">Không tìm thấy sản phẩm nào trong đơn đặt hàng của bạn</p>
                }
            </div>
        </div>
    </div>
</div>

